<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>JavaScript: Save contents of text box to local file</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
    </style>
</head>
<body>


<div class="wrapper">
    <header>
        <div class="container">
            <h1 class="col-lg-9">k-clique Graph</h1>
        </div>
    </header>
    <div class="container">
        <%if(data === ""){%>
            <form method="post" action="/generate">
                <textarea id="values" name="data" rows="30vh" cols="80vh"></textarea>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        <%}else{%>
            <form method="post" action="/generate">
                    <textarea id="values" name="data" rows="20vh" cols="80vh"><%-data%></textarea>
                <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <%}%>

        <%if(output === ""){%>

            <img src = "/img/graph.png" />

        <%}else{%>
            <%=output%>

            <!--<img src = "../public/img/hqdefault.jpg" />-->

        <%}%>


    </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>

<script>
</script>
</body>
</html>

